/* DOCUMENT INFORMATION
    - Document: All baseline styling
    - Author: Alex Megahy
    - Description: All stylings for base elements
------------------------------------------- */

body {
    background-color: $body-BG;
}

// All text styles
h1,
h2,
h3,
p,
a {
    color: $font-colour;
}

p {
    font-family: $font-body;
}

a,
button {
    font-family: $font-body-bold;
}

h1,
h2,
h3 {
    font-family: $font-heading;
    margin: 2rem 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a,
p,
button {
    font-size: 1rem;
    margin: 1rem 0;
}