/* DOCUMENT INFORMATION
    - Document: All structure styling
    - Author: Alex Megahy
    - Description: All stylings for the structure of the page
------------------------------------------- */

/* Hides element */
.hidden {
    visibility: hidden;
}

/* Sections */
.section {
    margin-bottom: 2rem;
    margin-top: 2rem;
}