/* DOCUMENT INFORMATION
    - Document: All structure styling
    - Author: Alex Megahy
    - Description: All stylings for the structure of the page
------------------------------------------- */

/* Hides element */
.hidden {
    visibility: hidden;
}

/* Center Text */
.center-text {
    text-align: center;
}

/* Sections */
.section {
    background-color: $section-main-BG;
    border-bottom: $section-border;
    border-top: $section-border;
    border-radius: 25px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;

    &-fw {
        @extend .section;
        
        background-color: $darkBlue;
        border-radius: 0;
        left: 0;
        max-width: 100vw;
        position: absolute;
        width: 100%;

        h2,
        p {
            color: $section-color;
        }
    }
}

/* Bold text class */
.bold {
    font-weight: 600;
}

/* Stop scrolling */
.stop-scroll {
    height: 100%;
    overflow: hidden;
}

/* Center vertically and horizontally */
.middle-of-screen {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}