/* DOCUMENT INFORMATION
    - Document: All variables
    - Author: Alex Megahy
    - Description: All variables for global use
------------------------------------------- */

// Core
$black: #000000;
$white: #ffffff;

// Baseline
$body-BG: $black;
$wrapper-BG: $white;

// Breakpoints