/* DOCUMENT INFORMATION
    - Document: All variables
    - Author: Alex Megahy
    - Description: All variables for global use
------------------------------------------- */

// Font definitions
@font-face {
    font-family: 'Raleway Bold';
    src: url('../thirdparty/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Regular';
    src: url('../thirdparty/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../thirdparty/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../thirdparty/Roboto-Regular.ttf') format('truetype');
}

// Core
$black: #000000;
$white: #ffffff;
$lightGrey: #ededed;
$fadedGrey: #e2e2e2ab;
$codingGreen: #00D118;
$fadedBlue: #49609c;
$darkBlue: #1e3775;
$errorRed: #b50000;

// Baseline
$body-BG: $white;

// Folders
$img-dir: "/assets/img/";

// Media queries
$sm-breakpoint: 576px; 
$md-breakpoint: 768px; 
$lg-breakpoint: 992px; 
$xl-breakpoint: 1200px; 

// Font variables
$wb-font-heading: 'Courier New', monospace;
$font-heading: 'Raleway Regular';
$font-heading-bold: 'Raleway Bold';
$font-body-bold: 'Roboto Bold';
$font-body: 'Roboto Regular';
$font-colour: $black;

// Navigation Bar
$nav-bar-BG: $fadedGrey;
$closeBtn-BG: $errorRed;
$closeBtn-color: $white;

// Navigation Bar
$nav-bar-BG: $fadedGrey;

// Welcome Banner 
$wb-BG: url("/assets/img/welcomeBanner/welcome-banner-bg.jpg");
$wb-text-BG: $white;
$wb-heading-colour: $codingGreen;
$wb-heading-border: .15em solid $codingGreen;

// Buttons
$btn-height: 2.9em;
$btn-font: $font-body-bold;
$btn-BG: $lightGrey;
$btn-border: 3px solid $darkBlue;
$btn-color: $black;
$btn-hover-BG: $white;

