/* DOCUMENT INFORMATION
    - Document: All "click on me" stylings
    - Author: Alex Megahy
    - Description: All "click on me" stylings for the "About Me" section of home page
------------------------------------------- */

/* Main "About Me" container for home page */
.about-me {
    /* Clickable picture */
    .click-on-me-pic::after{
        @include bg-image("aboutMePics/me-pic-1.jpg", cover);
        content: "";

        display: block;
        height: 250px;
        margin: 0 auto;
        width: 100%;
    }
}

/* Media Queries */

@media only screen and (min-width: $sm-breakpoint) {
.about-me {
    /* Clickable picture */
    .click-on-me-pic::after{
            width: 300px;
        }
    }
}