/* DOCUMENT INFORMATION
    - Document: All "click on me" stylings
    - Author: Alex Megahy
    - Description: All "click on me" stylings for the "About Me" section of home page
------------------------------------------- */

/* Main "About Me" container for home page */
.about-me-container {

    .click-on-me-cont {

        /* Main text container */
        .click-on-me-text {

            /* "Click on me" */
            .click-on-me {
                font-family: $font-body-bold;
                text-align: center;

                &::after{
                    @include bg-image("icons/arrow.png", cover);
                    content: "";
    
                    display: block;
                    height: 20px;
                    margin: 0 auto;
                    transform: rotate(90deg);
                    width: 20px;
                }
            } 
        }

        /* Clickable picture */
        .click-on-me-pic {
            cursor: pointer;
            margin: 0 auto;
            height: 150px;
            width: 150px;

            &::after{
                @include bg-image("aboutMePics/me-pic-1.jpg", cover);
                content: "";

                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }
}

/* Media Queries */

@media only screen and (min-width: $sm-breakpoint) {
.about-me-container {
        .click-on-me-cont {
            display: inline-flex;

            /* Main text container */
            .click-on-me-text {
                width: 50%;

                /* "Click on me" */
                .click-on-me {
                    text-align: left;

                    &::after{
                        display: inline-block;
                        margin: auto 10px;
                        position: absolute;
                        right: 50%;
                        transform: rotate(0);
                    }
                } 
            }

            /* Clickable picture */
            .click-on-me-pic {
                width: 50%;
            }
        }
    }
}