/* DOCUMENT INFORMATION
    - Document: All cover image to styling
    - Author: Alex Megahy
    - Description: All stylings for the cover images
------------------------------------------- */

/* Cover image container */
.cover-image {
    @include bg-image("aboutMePics/cover-image.jpg", cover);

    height: 450px;
    position: relative;
    width: 100%;
    
    &::after {
        @include bg-image("aboutMePics/profile-pic.jpg", cover);
        content: "";

        bottom: -10%;
        display: block;
        height: 50%;
        left: 35%;
        border-radius: 100px;
        position: absolute;
        width: 30%;
    }
}


/* Media Queries */

@media only screen and (min-width: $md-breakpoint) {
    /* Cover image container */
    .cover-image::after {
            left: 40%;
            width: 20%;
        }
    }
}
