/* DOCUMENT INFORMATION
    - Document: All cta to styling
    - Author: Alex Megahy
    - Description: All stylings for the cta buttons and links
------------------------------------------- */

/* CTA button */
.cta {
    background-color: $btn-BG;
    border: $btn-border;
    border-radius: 50px;
    color: $btn-color;
    display: block;
    font-family: $btn-font;
    margin: 1em auto;
    padding: 10px;
    text-align: center;
    width: 100%;

    &:hover{
        cursor: pointer;
        background-color: $btn-invert-BG;
        border: $btn-invert-border;
        color: $btn-invert-color;
    }

    &-invert {
        @extend .cta;
        
        background-color: $btn-invert-BG;
        border: $btn-invert-border;
        color: $btn-invert-color;

        &:hover {
            background-color: $btn-BG;
            border: $btn-border;
            color: $btn-color;
        }
    }
}
