/* DOCUMENT INFORMATION
    - Document: All hobbies collage to styling
    - Author: Alex Megahy
    - Description: All stylings for the hobbies collage images
------------------------------------------- */

/* Collage container */
.collage-container {
    padding: 0 15px;
    
    /* Collage images */
    .hobbies-image {
        height: 300px;
        width: 100%;
    
        &:nth-of-type(1){
            @include bg-image("hobbies/picture-1.jpg", cover);
        }
        
        &:nth-of-type(2){
            @include bg-image("hobbies/picture-2.jpg", cover);
        }  

        &:nth-of-type(3){
            @include bg-image("hobbies/picture-3.jpg", cover);
        }  

        &:nth-of-type(4){
            @include bg-image("hobbies/picture-4.jpg", cover);
        }       

        &:nth-of-type(5){
            @include bg-image("hobbies/picture-5.jpg", cover);
        }     

        &:nth-of-type(6){
            @include bg-image("hobbies/picture-6.jpg", cover);
        }    

        &:nth-of-type(7){
            @include bg-image("hobbies/picture-7.jpg", cover);
        }

    }
}