/* DOCUMENT INFORMATION
    - Document: All hobbies collage to styling
    - Author: Alex Megahy
    - Description: All stylings for the hobbies collage images
------------------------------------------- */

/* Collage container */
.collage-container {
    padding: 0 15px;
    
    /* Collage images */
    .hobbies-image {
        height: 300px;
        width: 100%;
    
        &:nth-of-type(1){
            @include bg-image("hobbies/profile-pic.jpg", cover);
        }
    
        &:nth-of-type(2){
            @include bg-image("hobbies/profile-pic.jpg", cover);
        }
    
        &:nth-of-type(3){
            @include bg-image("hobbies/profile-pic.jpg", cover);
        }
    }
}