/* DOCUMENT INFORMATION
    - Document: All hobbies collage to styling
    - Author: Alex Megahy
    - Description: All stylings for the hobbies collage images
------------------------------------------- */

/* Collage container */
.collage-container {
    padding: 0 15px;

    .col-12 {
        padding: 0;
    } 
}

/* Collage images */
.hobbies-image {
    height: 300px;
    width: 100%;

    &-1{
        @extend .hobbies-image;
        @include bg-image("hobbies/picture-1.jpg", cover);
    }
    
    &-2{
        @extend .hobbies-image;
        @include bg-image("hobbies/picture-2.jpg", cover);
    }  

    &-3{
        @extend .hobbies-image;
        @include bg-image("hobbies/picture-3.jpg", cover);
    }  

    &-4{
        @extend .hobbies-image;
        @include bg-image("hobbies/picture-4.jpg", cover);
    }       

    &-5{
        @extend .hobbies-image;
        @include bg-image("hobbies/picture-5.jpg", cover);
    }     

    &-6{
        @extend .hobbies-image;
        @include bg-image("hobbies/picture-6.jpg", cover);

        height: 600px;
    }    

    &-7{
        @extend .hobbies-image;
        @include bg-image("hobbies/picture-7.jpg", cover);
    }

    &-8{
        @extend .hobbies-image;
        @include bg-image("hobbies/picture-8.jpg", cover);
    }    

    &-9{
        @extend .hobbies-image;
        @include bg-image("hobbies/picture-9.jpg", cover);
    }
}