/* DOCUMENT INFORMATION
    - Document: All home contact styling
    - Author: Alex Megahy
    - Description: All stylings for the contact section on the home page
------------------------------------------- */

/* Home contact container */
.home-contact {
    background-color: $section-BG;

    h3 {
        color: $section-color;
        margin: auto;
    }
}