/* DOCUMENT INFORMATION
    - Document: All jump to styling
    - Author: Alex Megahy
    - Description: All stylings for the jump to bar and buttons
------------------------------------------- */

/* Jump to container */
.jumpToCont {
    position: relative;
    /* Jump to button */
    .jumpTo {
        display: flex;
        font-family: $font-body-bold;
        padding: 1em;
        &::after{
            content: "";
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 1em;
            transform: rotate(90deg);
            width: 1em;
        }

        &:hover{
            cursor: pointer;
        }

        &-light{
            @extend .jumpTo;
            background-color: $btn-light-BG;
            border: $btn-light-border;
            color: $btn-light-color;

            &::after{
                background-image: url('/assets/img/jumpTo/jumpToArrow.png');
            }
        }

        &-dark{
            @extend .jumpTo;
            background-color: $btn-dark-BG;
            border: $btn-dark-border;
            color: $btn-dark-color;

            &::after{
                background-image: url('/assets/img/jumpTo/jumpToArrow.png');
            }
        }
    }

    /* Other page link */
    .otherPage {
        &::after{
            transform: rotate(0);
        }
    }
}