/* DOCUMENT INFORMATION
    - Document: All jump to styling
    - Author: Alex Megahy
    - Description: All stylings for the jump to bar and buttons
------------------------------------------- */

/* Jump to container */
.jumpToCont {
    position: relative;
    /* Jump to button */
    .jumpTo {
        @include right(0);

        border: 1px solid #333;
        display: flex;
        font-family: "Roboto Bold";
        height: fit-content;
        justify-content: center;
        padding: .5em 1.5em;
        width: fit-content;
        z-index: 0;

        &::after{
            content: "";
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 1em;
            transform: rotate(90deg);
            position: absolute;
            width: 1em;
        }

        &::before {
            content: "";
            background: rgb(123, 33, 33);
            height: 2.6em;
            position: absolute;
            transition: width 1s, height 1s;
            width: 5.5em;
            z-index: -1;
            top: -1px;
        }

        &:hover{
            cursor: pointer;

            &::before {
                width: 0px;
            }
        }
    }

    /* Other page link */
    .otherPage {
        &::after{
            transform: rotate(0);
        }
    }
}