/* DOCUMENT INFORMATION
    - Document: All jump to styling
    - Author: Alex Megahy
    - Description: All stylings for the jump to bar and buttons
------------------------------------------- */

/* Jump to container */
.jumpToCont {
    height: $btn-height;
    position: relative;

    /* Jump to button */
    .jumpTo {
        @include right(0);

        border: $btn-border;
        color: $btn-color;
        display: flex;
        font-family: $btn-font;
        height: fit-content;
        justify-content: center;
        padding: .5em 2.5em .5em .5em;
        width: fit-content;
        z-index: 0;

        &::after{
            @include bg-image("jumpTo/jumpToArrow.png");
            content: "";

            height: 1.5em;
            right: 10px;
            transform: rotate(90deg);
            position: absolute;
            width: 1em;
        }

        &:hover{
            cursor: pointer;
            background-color: $btn-hover-BG;
        }
    }

    /* Other page link */
    .otherPage {
        &::after{
            transform: rotate(0);
        }
    }
}