/* DOCUMENT INFORMATION
    - Document: All nav bar styling
    - Author: Alex Megahy
    - Description: All stylings for the nav bar and the icons
------------------------------------------- */

/* Nav bar hamburger menu icon */
.hamburger-menu {
    background-color: $nav-bar-BG;
    cursor: pointer;
    border-radius: 50px;
    display: block;
    height: 40px;
    padding: 7px;
    position: fixed;
    right: 0;
    width: 40px;
    z-index: 1;
    
    &::after{
        @include bg-image("icons/hamburger-icon.png", cover);
        
        content: "";
        cursor: pointer;
        display: block;
        height: 25px;
        margin: 8px auto;
        padding: 0;
        position: absolute;
        top: 0;
        width: 25px;
    }
}

/* Nav bar container */
.nav-bar {
    background-color: $nav-bar-BG;
    height: 100%;
    padding: 2em;
    position: fixed;
    width: 100%;
    z-index: 1;

    /* Nav bar items container */
    .nav-bar-items {
        margin: 0 auto;
        
        /* Nav bar items */
        .nav-bar-item {
            color: $nav-bar-color;
            display: block;
            font-size: 2em;
            margin: 3vw 0;
            text-align: center;
        }
    }

    /* Nav bar icons container */
    .nav-bar-icons {
        display: inline-flex;
        width: 100%;
        margin: 0 auto;

        /* Nav bar logo icons */
        .nav-icon {
            cursor: pointer;
            height: 50px;
            margin: 25px auto;
            padding: 0;
            width: 50px;

            &.github{
                @include bg-image("navbar/github-logo.png", contain);
            }

            &.codepen{
                @include bg-image("navbar/codepen-logo.png", contain);
            }

            &.linkedIn{
                @include bg-image("navbar/linkedin-logo.png", contain);
            }

            &.facebook{
                @include bg-image("navbar/facebook-logo.png", contain);
            }
        }
    }

    /* Close button */
    .close-btn {
        color: $closeBtn-color;
        cursor: pointer;
        font-size: 1.5em;
        left: 0;
        margin: 0 .5em;
        position: absolute;
        top: 0;
    }
}