/* DOCUMENT INFORMATION
    - Document: All nav bar styling
    - Author: Alex Megahy
    - Description: All stylings for the nav bar and the icons
------------------------------------------- */

/* Nav bar hamburger menu icon */
.hamburger-menu {
    background-color: $nav-bar-BG;
    cursor: pointer;
    border-radius: 50px;
    display: block;
    height: 100px;    
    padding: 1.5em;
    position: fixed;
    right: 0;
    width: 100px;
    
    &::after{
        @include bg-image("icons/hamburger-icon.png");
        
        content: "";
        cursor: pointer;
        display: block;
        height: 50px;
        margin: 25px auto;
        padding: 0;
        position: absolute;
        top: 0;
        width: 50px;
    }
    
    @media only screen and (min-width: 500px) {
        display: none;
    }
}

/* Nav bar container */
.nav-bar {
    background-color: $nav-bar-BG;
    display: none;
    height: 100%;
    padding: 2em;
    position: fixed;
    width: 100%;
    z-index: 1;

    /* Nav bar items */
    .nav-bar-item {
        display: block;
        font-size: 2.5em;
    }

    /* Close button */
    .close-btn {
        background-color: $closeBtn-BG;
        color: $closeBtn-color;
        font-size: 2.5em;

        @media only screen and (min-width: 500px) {
            display: none;
        }
    }

    /* Nav bar logo icons */
    .nav-icon {
        cursor: pointer;
        height: 75px;
        margin: 25px auto;
        padding: 0;
        width: 75px;

        &.github{
            @include bg-image("navbar/github-logo.png");
        }

        &.codepen{
            @include bg-image("navbar/codepen-logo.png");
        }

        &.linkedIn{
            @include bg-image("navbar/linkedin-logo.jpg");
        }

        &.facebook{
            @include bg-image("navbar/facebook-logo.jpg");
        }
    }

    @media only screen and (min-width: 500px) {
        display: block;
    }
}