/* DOCUMENT INFORMATION
    - Document: All topic panel styling
    - Author: Alex Megahy
    - Description: All stylings for the topic panels with icon and description
------------------------------------------- */

/* Topic panel container */
.topic-panel {
    display: inline-block;
    font-family: $font-body;
    height: 100%;
    padding: 1em;

    // About Me panels
    .about-panel-icon {
        height: 100px;
        margin: 1em auto;
        padding: 1em;
        width: 50%;

        &.uni {
            @include bg-image("aboutMePanels/newcastle-university-logo.png", cover);
        }
        &.qrious {
            @include bg-image("aboutMePanels/qrious-logo.png", cover);
        }
        &.dev {
            @include bg-image("aboutMePanels/web-dev.png", cover);
        }
        &.clients {
            @include bg-image("aboutMePanels/clients.png", cover);
        }
        &.p-dev {
            @include bg-image("aboutMePanels/personal-dev.png", cover);
        }
        &.eager {
            @include bg-image("aboutMePanels/eager.png", cover);
        }
    }
}