/* DOCUMENT INFORMATION
    - Document: All welcome banner styling
    - Author: Alex Megahy
    - Description: All main page welcome banner styling
------------------------------------------- */

/* Main welcome banner */
.welcome-banner {
    background-image: $wb-BG;
    display: flex;
    height: 100vh;
    padding: 5em;

    /* Welcome banner content container */
    .wb-container{
        margin: auto;
        width: 100%;

        /* Welcome banner text container */
        .wb-heading{
            // Typerwriter effect
            @include keyframes(typing-wb1 3.5s steps(30, end),blink-caret .5s step-end infinite);
            
            letter-spacing: .15em;
            margin: 0 auto;
            overflow: hidden;
            padding: 1em;
            white-space: nowrap; 
            width: 17em;
            
            &:nth-of-type(2){
                @include keyframes(typing-wb2 3.5s 5s steps(30, end),blink-caret .5s step-end infinite);
                
                border-right: $wb-heading-border; 
                width: 25.5em;
            }
            
            h1,
            h2{
                color: $wb-heading-colour;
                font-family: $wb-font-heading;
            }
        }   
    }
}