/* DOCUMENT INFORMATION
    - Document: All welcome banner styling
    - Author: Alex Megahy
    - Description: All main page welcome banner styling
------------------------------------------- */

// Main welcome banner
.welcome-banner {
    background-image: $wb-BG;
    padding: 5em;

    // Welcome banner text container
    .wb-heading{
        background-color: $wb-Text-BG;
        margin: 0 auto;
        min-width: 40em;
        padding: 5em;
        width: 50%;
    }
}