/* DOCUMENT INFORMATION
    - Document: All welcome banner styling
    - Author: Alex Megahy
    - Description: All main page welcome banner styling
------------------------------------------- */

/* Main welcome banner */
.welcome-banner {
    @include bg-image("welcomeBanner/welcome-banner-bg.jpg", cover);

    display: flex;
    height: 100vh;

    /* Welcome banner content container */
    .wb-container{
        margin: auto;
        width: 100%;

        /* Welcome banner text container */
        .wb-heading{
            // Typerwriter effect
            @include keyframes(typing-wb1 3.5s steps(30, end),blink-caret .5s step-end infinite);
            
            letter-spacing: .15em;
            margin: 0 auto;
            overflow: hidden;
            padding: 1em;
            white-space: nowrap; 
            width: 17em;
            
            h1 {
                color: $wb-heading-colour;
                font-family: $wb-font-heading;
                font-size: 2rem;
            }
        }   
    }
}