/* DOCUMENT INFORMATION
    - Document: My work panel styling
    - Author: Alex Megahy
    - Description: All stylings for the my work panels with icon and description
------------------------------------------- */

/* Work panel container */
.work-panel {
    border-top: $work-panel-border;
    margin-top: 2em;
    padding-top: 2em;

    &:first-of-type {
        border-top: 0;
    }

    // Work panel icon
    .wp-icon {
        height: 120px;
        margin: 0 auto;
        width: 120px;
        
        &-css {
            @extend .wp-icon;
            @include bg-image("workPanels/css.png", cover);
        }

        &-js {
            @extend .wp-icon;
            @include bg-image("workPanels/js.png", cover);
        }

        &-scss {
            @extend .wp-icon;
            @include bg-image("workPanels/scss.png", cover);
        }

        &-php {
            @extend .wp-icon;
            @include bg-image("workPanels/php.png", cover);
        }

        &-ajax {
            @extend .wp-icon;
            @include bg-image("workPanels/ajax.png", cover);
        }
    }

    // Work panel list
    .wp-list {
        margin: 0;
    }
}


/* Media Queries */

@media only screen and (min-width: $sm-breakpoint) {
    
    /* Work panel container */
    .work-panel {
        border: 0; // Reset borders
        margin-top: 0;
        padding: 2em;

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
            border-bottom: $work-panel-border;
        }

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(4) {
            border-right: $work-panel-border;
        }
    }
}