/* DOCUMENT INFORMATION
    - Document: All contact.html styling
    - Author: Alex Megahy
    - Description: All contact.html styling
------------------------------------------- */
/* Imports
------------------------------------------- */
/* DOCUMENT INFORMATION
    - Document: All global styling
    - Author: Alex Megahy
    - Description: All global baseline styling imports
------------------------------------------- */
/* Imports
------------------------------------------- */
@import '../thirdparty/bootstrap-grid.css';
@import '../global/reset.css';
/* DOCUMENT INFORMATION
    - Document: All abstract styling
    - Author: Alex Megahy
    - Description: All abstract styling imports
------------------------------------------- */
/* Imports
------------------------------------------- */
/* DOCUMENT INFORMATION
    - Document: All mixins
    - Author: Alex Megahy
    - Description: All mixins for global use
------------------------------------------- */
/* DOCUMENT INFORMATION
    - Document: All variables
    - Author: Alex Megahy
    - Description: All variables for global use
------------------------------------------- */
@font-face {
  font-family: "Raleway Bold";
  src: url("../thirdparty/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../thirdparty/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../thirdparty/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../thirdparty/Roboto-Regular.ttf") format("truetype");
}
/* Typewriter animation (First heading)*/
@keyframes typing-wb1 {
  from {
    width: 0;
    border-right: 0.15em solid #00D118;
  }
  to {
    width: 17em;
    border-right: 0.15em solid #00D118;
  }
}
/* Typewriter animation (Second heading)*/
@keyframes typing-wb2 {
  from {
    width: 0;
  }
  to {
    width: 25.5em;
  }
}
/* Blink caret for typewriter animation */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #00D118;
  }
}
/* Force element right */
/* Force element left */
/* Full BG Image */
/* Full height and width */
/* DOCUMENT INFORMATION
    - Document: All variables
    - Author: Alex Megahy
    - Description: All variables for global use
------------------------------------------- */
@font-face {
  font-family: "Raleway Bold";
  src: url("../thirdparty/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../thirdparty/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../thirdparty/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../thirdparty/Roboto-Regular.ttf") format("truetype");
}
/* DOCUMENT INFORMATION
    - Document: All baseline styling
    - Author: Alex Megahy
    - Description: All stylings for base elements
------------------------------------------- */
body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
p,
a {
  color: #000000;
}

p {
  font-family: "Roboto Regular";
}

a,
button {
  font-family: "Roboto Bold";
}

h1 h2,
h3,
h4 {
  font-family: "Raleway Regular";
}

section {
  padding: 2em 0;
}

/* DOCUMENT INFORMATION
    - Document: All structure styling
    - Author: Alex Megahy
    - Description: All stylings for the structure of the page
------------------------------------------- */
/* Hides element */
.hidden {
  visibility: hidden;
}

/* Force element right */
.right {
  position: absolute;
  right: 0;
}

/* Force element left */
.left {
  position: absolute;
  left: 0;
}

/* Sections */
.section {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* DOCUMENT INFORMATION
    - Document: All jump to styling
    - Author: Alex Megahy
    - Description: All stylings for the jump to bar and buttons
------------------------------------------- */
/* Jump to container */
.jumpToCont {
  height: 2.9em;
  position: relative;
  /* Jump to button */
  /* Other page link */
}
.jumpToCont .jumpTo {
  position: absolute;
  right: 0;
  border: 3px solid #1e3775;
  color: #000000;
  display: flex;
  font-family: "Roboto Bold";
  height: -webkit-fit-content;
  height: fit-content;
  justify-content: center;
  padding: 0.5em 1.5em;
  width: -webkit-fit-content;
  width: fit-content;
  z-index: 0;
}
.jumpToCont .jumpTo::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1em;
  transform: rotate(90deg);
  position: absolute;
  width: 1em;
}
.jumpToCont .jumpTo::before {
  content: "";
  background: #ededed;
  height: 2.9em;
  position: absolute;
  transition: width 1s, height 1s;
  width: 100%;
  z-index: -1;
  top: -3px;
}
.jumpToCont .jumpTo:hover {
  cursor: pointer;
  background-color: #ffffff;
}
.jumpToCont .jumpTo:hover::before {
  width: 0px;
}
.jumpToCont .otherPage::after {
  transform: rotate(0);
}

/* DOCUMENT INFORMATION
    - Document: All topic panel styling
    - Author: Alex Megahy
    - Description: All stylings for the topic panels with icon and description
------------------------------------------- */
/* Topic panel container */
.topic-panel {
  display: inline-block;
  font-family: "Roboto Regular";
  padding: 1em;
}
.topic-panel .topic-panel-icon {
  height: 100px;
  margin: 1em auto;
  padding: 1em;
  width: 50%;
}
.topic-panel .topic-panel-icon.uni {
  background-image: url("https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.topic-panel .topic-panel-icon.qrious {
  background-image: url("https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.topic-panel .topic-panel-icon.dev {
  background-image: url("https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.topic-panel .topic-panel-icon.clients {
  background-image: url("https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.topic-panel .topic-panel-icon.p-dev {
  background-image: url("https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.topic-panel .topic-panel-icon.eager {
  background-image: url("https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}