/* DOCUMENT INFORMATION
    - Document: All index.html styling
    - Author: Alex Megahy
    - Description: All index.html styling
------------------------------------------- */
/* Imports
------------------------------------------- */
/* DOCUMENT INFORMATION
    - Document: All global styling
    - Author: Alex Megahy
    - Description: All global baseline styling imports
------------------------------------------- */
/* Imports
------------------------------------------- */
@import '../thirdparty/bootstrap-grid.css';
@import '../global/reset.css';
/* DOCUMENT INFORMATION
    - Document: All abstract styling
    - Author: Alex Megahy
    - Description: All abstract styling imports
------------------------------------------- */
/* Imports
------------------------------------------- */
/* DOCUMENT INFORMATION
    - Document: All mixins
    - Author: Alex Megahy
    - Description: All mixins for global use
------------------------------------------- */
/* DOCUMENT INFORMATION
    - Document: All variables
    - Author: Alex Megahy
    - Description: All variables for global use
------------------------------------------- */
@font-face {
  font-family: "Raleway Bold";
  src: url("../thirdparty/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../thirdparty/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../thirdparty/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../thirdparty/Roboto-Regular.ttf") format("truetype");
}
/* Typewriter animation for small screens */
@keyframes typing-wb-small {
  from {
    width: 0;
    border-right: 0.15em solid #00D118;
  }
  to {
    width: 17em;
    border-right: 0.15em solid #00D118;
  }
}
/* Typewriter animation for large screens */
@keyframes typing-wb-large {
  from {
    width: 0;
    border-right: 0.15em solid #00D118;
  }
  to {
    width: 32em;
    border-right: 0.15em solid #00D118;
  }
}
/* Blink caret for typewriter animation */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #00D118;
  }
}
/* Force element right */
/* Force element left */
/* Full BG Image */
/* Full height and width */
/* DOCUMENT INFORMATION
    - Document: All variables
    - Author: Alex Megahy
    - Description: All variables for global use
------------------------------------------- */
@font-face {
  font-family: "Raleway Bold";
  src: url("../thirdparty/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../thirdparty/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../thirdparty/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../thirdparty/Roboto-Regular.ttf") format("truetype");
}
/* DOCUMENT INFORMATION
    - Document: All baseline styling
    - Author: Alex Megahy
    - Description: All stylings for base elements
------------------------------------------- */
body {
  background-color: #ffffff;
}

h1,
h2,
h3,
p,
li,
a {
  color: #000000;
}

p,
li {
  font-family: "Roboto Regular";
}

a,
button {
  font-family: "Roboto Bold";
}

h1,
h2,
h3 {
  font-family: "Raleway Regular";
  margin: 2rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a,
p,
li,
button {
  font-size: 1rem;
  margin: 1rem 0;
}

a,
button {
  outline: none;
}

ul {
  padding: 0;
}

/* DOCUMENT INFORMATION
    - Document: All structure styling
    - Author: Alex Megahy
    - Description: All stylings for the structure of the page
------------------------------------------- */
/* Hides element */
.hidden {
  visibility: hidden;
}

/* Center Text */
.center-text {
  text-align: center;
}

/* Sections */
.section, .section-fw {
  background-color: #ffffff;
  border-bottom: 5px solid #011B79;
  border-top: 5px solid #011B79;
  border-radius: 25px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
}
.section-fw {
  background-color: #011B79;
  border-radius: 0;
  left: 0;
  max-width: 100vw;
  position: absolute;
  width: 100%;
}
.section-fw h2,
.section-fw p {
  color: #ffffff;
}

/* Bold text class */
.bold {
  font-weight: 600;
}

/* Stop scrolling */
.stop-scroll {
  height: 100%;
  overflow: hidden;
}

/* Center vertically and horizontally */
.middle-of-screen {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}